
/**Header Menu CSS**/
.ic-header-area{
    background-color: $color-white;
    padding: 34px 0px;
    @media #{$max991}{
        padding: 28px 0px;
    }
    @media #{$max767} {
        padding: 25px 0px;
    }
    @media #{$max575}{
        padding: 20px 0px;
    }
    
}
.ic-header-menu-warper{
    @include d-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    .ic-header-left{
        @include d-flex;
        align-items: center;

        .ic-logo{
            img{
                @media #{$max575}{
                    width: 70%;
                }
            }
        }
    }
    .ic-header-right{
         @include d-flex;
         align-items: center;
        p{
            color: $color-main;
            text-transform: uppercase;
        }

        .ic-sub-1{
            color: $color-secondary;
        }
        .ic-email{
            @media #{$max767}{
                display: none;
            }
        }
        .ic-call{
            margin-left: 40px;
            @media #{$max1650}{
                margin-left: 30px;
            }
            @media #{$max1440}{
                margin-left: 35px;
            }
            @media #{$max767}{
                display: none;
            }
        }
    }
    .ic-navbar{
        margin-left: 110px;
        @media #{$max1650}{
            margin-left: 90px;
        }
        @media #{$max1440}{
            margin-left: 60px;
        }
        @media #{$max1280}{
            margin-left: 45px;
        }
        @media #{$max1199}{
            margin-left: 0px;
        }
    }
}

.ic-navbar-nav {
    @include d-flex;
    justify-content: flex-end;
    
    @media #{$max1199}{
       display: block;   
    }
   
    .ic-nav-item {
        margin-right: 35px;
        @media #{$max1650}{
            margin-right: 25px;
        }
        @media #{$max1440}{
            margin-right: 10px;
        }
        @media #{$max1366}{
            margin-right: 10px;
        }
        @media #{$max1280}{
            margin-right: 0px;
        }
        @media #{$max1199}{
            margin-right: 5px;
        }
        &:last-child {
            margin-right: 0px;
        }
        @media #{$max991} {
            margin: 0px 2px;
        }
        .ic-nav-link {
            padding: 11px 16px;
            color: $color-main;
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
            font-family: $font-medium;
            @include transition(0.5s);
            @media #{$max1366}{
                padding: 10px 10px;
            }
            @media #{$max1280}{
                font-size: 18px;
            }
            @media #{$max1199}{
                   padding: 15px 10px;
                   display: block;
                   border-bottom: 1px solid #f2f2f2;
            }
            @media #{$max991} {
                    padding: 15px 10px;
                    display: block;
                    border-bottom: 1px solid #f2f2f2;
            }
            @media #{$max767} {
                display: block;
                padding: 15px 10px;
                border-bottom: 1px solid $color-gray;
            }
            &:hover {   
                color: $color-secondary;
                @media #{$max767} {
                    color: $color-main;
                }
            }
            &.active {
                color: $color-secondary;
                @media #{$max767} {
                    color: $color-main;
                }
            }
        }
    }
}

.ic-navbar{
    .ic-call{
        text-align: center;
        margin-top: 25px;
        p{
            color: $color-main;
        }
        .ic-sub-1{
            color: $color-secondary;
        }
    }
}

// Dropdown menu

.ic-nav-item{
    position: relative;
    &:hover{
        .ic-dropdown-sub-menu{
            opacity: 1;
            visibility: visible;
        }
    }
}

.ic-dropdown-sub-menu{
    position: absolute;
    top: 100%;
    min-width: 250px;
    background-color: $color-white;
    z-index: 99;
    padding: 15px 15px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.5s);
    display: block;
    @media #{$max1199}{
            position: static;
            opacity: 1;
            visibility: visible;
            display: none;
            transition: unset;
    }
    .ic-dropdown-item{
        padding: 8px 0px;
        display: inline-block;
    }
}

.ic-nav-item {
    &:hover {
        .ic-dropdown-sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}

.ic-dropdown-has-children {
    .menu-expand {
        position: absolute;
        display: none;
        right: 0;
        top: 20px;     
        @media #{$max1199}{
            display: inline-block;
        }

        i{
            font-size: 20px;
        }
    }
}

.ic-dropdown-sub-menu {
    box-shadow: 0px 3.79717px 17.869px rgba(0, 0, 0, 0.0417275);
    position: absolute;
    top: 100%;
    min-width: 250px;
    background-color: $color-white;
    z-index: 99;
    padding: 15px 15px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.5s);
    display: block;


    @media #{$max1199} {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        transition: unset;
    }

    .ic-dropdown-item {
        padding: 8px 0px;
        display: inline-block;
        font-size: 18px;
        @include transition(0.5s);
        &:hover{
            color: $color-secondary;
        }
    }
}

/***Mobile Menu Area***/

.ic-mobile-menu-icon {
    @media #{$max1199} {
        margin-left: 10px;
    }
    .ic-mobile-menu-open {
        width: 40px;
        display: none;
        position: relative;
        z-index: 999;
        @media #{$max1199} {
            display: block;
        }
        @media #{$max1199} {
            width: 35px;
        }
        &:hover {
            span {
                width: 100%!important;
            }
        }
        span {
            height: 4px;
            display: block;
            margin: 7px 0px;
            margin-bottom: 0px;
            transition: all 0.3s;
            width: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            text-align: right;
            margin-left: auto;
            background-color: $color-black;
            &:nth-child(1) {
                width: 100%;
                margin-top: 0;
            }
            &:nth-child(2) {
                width: 80%;
            }
            &:nth-child(3) {
                width: 60%;
            }
            @media #{$max767} {
                height: 4px;
            }
        }
    }
}

.ic-mobile-menu-warper {
    @media #{$max1199} {
        position: fixed;
        background: $color-white;
        z-index: 9999;
        top: 0;
        height: 100vh;
        @include transition(0.5s);
        left: 0;
        padding: 40px 15px 30px;
        overflow-y: auto;
        @include transform-x(-100%);
        min-width: 300px;
        animation: unset!important;
    }
}

.ic-mobile-menu-warper.active {
    @media #{$max1199} {
        @include transform-x(0);
    }
}

.ic-mobile-menu-overlay {
    @media #{$max1199} {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        background: #222222;
        top: 0;
    }
}

.ic-mobile-menu-overlay.active {
    @media #{$max1199} {
        opacity: 0.5;
        visibility: visible;
    }
}

.ic-menu-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 0px 0px 0px 15px;
    display: none;
    background-color: $color-black;
    @media #{$max1199} {
        display: block;
    }
    i {
        color: $color-white;
        font-size: 20px; 
    }
}

//Contact Navigation

.ic-contact-mega-navigation{
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 125px;
    display: none;
    @media #{$max991}{
        top: 105px;
    }
    @media #{$max767}{
        top: 95px;
    }
    @media #{$max575}{
        top: 75px;
    }
    .ic-container-fluid{
        position: relative;
    }
    
   
}
.contact-navigation-hide{
    position: absolute;
    right: 10px;
    top: 10px;
    @media #{$max1366}{
        right: 25px;
        top: 10px; 
    }

    i{
        color: $color-secondary;
        font-size: 40px;
        @media #{$max1366}{
            font-size: 35px;
        }
        @media #{$max575}{
            font-size: 30px;
        }
    }
}

.ic-contact-navigation-warper{
 background-color: $color-gray;
 padding: 80px 80px;
 @media #{$max1650}{
     padding: 40px 40px;
 }
 @media #{$max1440}{
     padding: 40px 20px;
 }
 @media #{$max1366}{
     padding: 30px 20px;
 }
 @media #{$max1199}{
     padding: 20px 20px;
 }
.ic-navigation-flex{
    @include d-flex;
    justify-content: center;
    flex-wrap: wrap;
    @media #{$max575}{
        display: block;
    }
    
     
    .ic-flex-item {
        margin-right: 80px;
        @media #{$max1850}{
            margin-right: 40px;
        }
         @media #{$max1440}{
             margin-right: 30px;
         }
         @media #{$max1366}{
             margin-right: 20px;
         }
         @media #{$max575}{
             margin-right: 0px;
         }
        &:last-child {
            margin-right: 0px;
        }
        &.item-1 {
            flex: 0 0 235px;
            @media #{$max1366}{
                   flex: 0 0 280px;
            }
            @media #{$max1280}{
                flex: 0 0 245px;
            }
            @media #{$max767}{
               flex: 0 0 240px;
            }
            @media #{$max575}{
                margin-bottom: 20px;
            }
        }
        &.item-3{
           flex: 0 0 460px;
           @media #{$max1850}{
               flex: 0 0 445px;
           }
           @media #{$max1650}{
              flex: 0 0 315px;
           }
           @media #{$max1366}{
               flex: 0 0 285px;
           }
           @media #{$max1280}{
               flex: 0 0 250px;
           }
           @media #{$max767}{
               flex: 0 0 212px;
               margin-top: 20px;
           }
        }
    }
}

}


.ic-header-contact-address{
    .ic-sub-1{
        color: $color-secondary;
        margin-bottom: 24px;
        @media #{$max767}{
            margin-bottom: 15px;
        }
    }
   .contact-info-item {
       @include d-flex;
       margin-bottom: 24px;
       @media #{$max1366}{
           margin-bottom: 20px;
           align-items: center;
       }
       @media #{$max767}{
           margin-bottom: 15px;
       }

       .icon {
           width: 42px;
           height: 42px;
           background: #FFFFFF;
           box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
           @include bd-radius(5px);
           @include d-flex;
           align-items: center;
           justify-content: center;
           @media #{$max1366}{
               flex: 0 0 42px;
           }
           @media #{$max1199}{
               width: 38px;
               height: 38px;
               flex: 0 0 38px;
           }

           img{
               @media #{$max1199}{
                   width: 22px;
               }
           }
       }

       .content {
           margin-left: 26px;
            @media #{$max1366}{
                margin-left: 10px;
            }
           p {
               color: #000000;
               width: 70%;
               margin-top: 10px;
               @media #{$max1366}{
                   margin-top: 0px;
                   width: 100%;
               }
           }
       }

       &.call-item {
           p {
               width: 100%;
           }
       }
   }
}

.ic-contact-navigation-map{
    #map2{
        height: 277px;
        @media #{$max1650}{
            height: 250px;
        }
        @media #{$max1366}{
            height: 220px;
        }
        @media #{$max767}{
            height: 200px;
        }
    }

    .ic-contact-info-card{
        display: none;
    }
    .gm-style .gm-style-iw-c{
        display: none!important;
    }
    .gm-style .gm-style-iw-t::after{
        display: none!important;
    }
}

.ic-contact-navication-call-us{
    @include d-flex;
    @media #{$max991}{
        margin-top: 20px;
    }
    .icon{
        img{
            @media #{$max1366}{
                width: 45px;
            }
            @media #{$max767}{
                width: 40px;
            }
        }
    }
    .content{
        margin-left: 35px;
        @media #{$max1440}{
            margin-left: 25px;
        }
        @media #{$max1366}{
            margin-left: 20px;
        }
        @media #{$max767}{
            margin-left: 15px;
        }
        h2{
            color: $color-secondary;
            margin-bottom: 23px;
            @media #{$max1650}{
                margin-bottom: 20px;
            }
            @media #{$max1440}{
                margin-bottom: 10px;
            }
        }
        .number{
            color: $color-main;
        }
    }
}



